<h1 style="color:Yellow"> CLASS 2 </h1>

<h2 style="color:Brown"> Data Structures in Python </h2>

- Tuples
- Lists
- Sets
- Dictionariesionaries

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [ ]:
t = ("disco", 12, 4.5)
t

In [ ]:
type(t)

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

#### single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   #This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

In [ ]:
# gives the last element from tuple
t[-1]

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

In [ ]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

In [ ]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

#### Cancatenating tuples

In [ ]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

#### sum() - min() - max()

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

### Immutability of tuples

In [ ]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

In [ ]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [ ]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

#### Practice: Tuple

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.

Sample Input:

('Monty Python', 'British', 1969)



Sample Output:

﻿('Monty Python', 'British', 1969, 'Python')

In [ ]:

input_tuple = ('Monty Python', 'British', 1969)

input_tuple = list(input_tuple)
input_tuple.append('Python')
tuple_2 = tuple(input_tuple)

print(tuple_2)

#### Practice: Split String

n-
Split the string input_str =Harshit_Pal_00703' to the person'e, first na, second nameme and uniquer code. In this example, second_name=Palar', first_name=Harshitvi'r_code = '703'.

In [ ]:
input_str = 'Harshit_Pal_007'
split = input_str.split('_')
first_name = split[0]
second_name =split[1]
code = split[2]
print(first_name)
print(second_name)
print(code)

<h1 style="color:Brown"> Lists </h1>

- Lists are mutable
- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [ ]:
L = ["India", 23, 6, "Mumbai"]

L

In [ ]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

In [ ]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

In [ ]:
L[-3]

In [ ]:
L[-1][-1]

In [ ]:
# Slicing

L[0:3]

In [ ]:
#Membership

L1 = [1,2,3,4]
print (1 in L1) 
print (6 in L1)

In [ ]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

In [ ]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

In [ ]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

In [ ]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

In [ ]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

In [ ]:
#del Command combined with Slicing Operator

del L[0:3]

L

In [ ]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

In [ ]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

In [ ]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

In [ ]:
l.sort(reverse= True)
l

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

#### Shallow Copying
- By assigning  B = A, we are referring to the same list object in the memory
- The changes made to list A will be reflected in list B as well.
-  With A[:], we are creating a new object and this new object is assigned to B
-  By this any changes in list A wouldn’t affect list B anymore.

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

In [ ]:
B

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [ ]:
A

In [ ]:
B

#### Asterisk  tuple unpacking
- Python assigns values to the variable until the number of values left matches the number of variables left

In [ ]:
my_tuple= ("a", "b", "c", "d", "e")
(first, *middle, last) = my_tuple
print(first)  
print(middle)  
print(type(middle)) #output-><class 'list'>
print(last)

In [ ]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

####  We are indexing all the elements of the list 'word' to an empty list; hence, the final output would be an empty list. Hence, this method can also be used to delete all the items from a list.

#### Practice 
Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [ ]:
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']

input_list.remove('SPSS')
input_list.append('SPARK')

print(input_list)

#### Practice

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’.

In [ ]:
input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 

string_1 = '&'.join(input_str)
print(string_1)

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [ ]:
l = [1,3,2,4,5,5,5]

set_l = set(l)

set_l

In [ ]:
len(set_l)

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

In [ ]:
a.add("India")
a

In [ ]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

In [ ]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
print(A | B) # Union

In [ ]:
print(A & B) # Intersection

In [ ]:
print(A - B) # Difference

In [ ]:
print(A ^ B) # Symmetric Difference

#### Practice
Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner.

In [ ]:

A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]

#Type your answer here
answer = sorted(set(A).intersection(B))

print(answer)

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

In [ ]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

In [ ]:
# Deleting a key value pair

del d["France"]

d

In [ ]:
# Sorting a dictionary

sorted(d)

In [ ]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

In [ ]:
# Keys() method

d.keys()

In [ ]:
# Updat() method

d.update({'India':'Rupee'})
d